
<ion-view view-title="PDF Files" align-title="center" class="blue">
    <ion-content class="content-padding background">
	    <div class="row pdf-download">
		    <div class="col col-33 pdf-icon">
		    	<img ng-src="img/pdf-icon.png">
		    </div>
	    	<div class="col col-67">
	    		<div class="pdf-judul">Judul pdf files</div>
	    		<div class="pdf-info">intro text tentang file pdf</div>
	    		<div class="row download">
	    			<img class="download-icon" ng-src="img/download-icon.png">
	    			<div class="download-text">download</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row pdf-download">
		    <div class="col col-33 pdf-icon">
		    	<img ng-src="img/pdf-icon.png">
		    </div>
	    	<div class="col col-67">
	    		<div class="pdf-judul">Judul pdf files</div>
	    		<div class="pdf-info">intro text tentang file pdf</div>
	    		<div class="row download">
	    			<img class="download-icon" ng-src="img/download-icon.png">
	    			<div class="download-text">download</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row pdf-download">
		    <div class="col col-33 pdf-icon">
		    	<img ng-src="img/pdf-icon.png">
		    </div>
	    	<div class="col col-67">
	    		<div class="pdf-judul">Judul pdf files</div>
	    		<div class="pdf-info">intro text tentang file pdf</div>
	    		<div class="row download">
	    			<img class="download-icon" ng-src="img/download-icon.png">
	    			<div class="download-text">download</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row pdf-download">
		    <div class="col col-33 pdf-icon">
		    	<img ng-src="img/pdf-icon.png">
		    </div>
	    	<div class="col col-67">
	    		<div class="pdf-judul">Judul pdf files</div>
	    		<div class="pdf-info">intro text tentang file pdf</div>
	    		<div class="row download">
	    			<img class="download-icon" ng-src="img/download-icon.png">
	    			<div class="download-text">download</div>
	    		</div>
	    	</div>
	    </div>
		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>