
<ion-view view-title="Article" align-title="center" class="blue">
    <ion-content class=" background">
      <section class = "home-container"> 
        <div class = "row article-img no-padding">
        </div>
        <div class="content-padding">
          <div class="article-header">
            <div class="row">
              <div class="col col-10">
                <div class="flaticon-font2"></div>
              </div>
              <div class="col col-90">
                <div class=" article-judul">
                  Enagic Indonesia Order Process on 13th JAN 2016
                </div>
                <div class="article-posted">
                  posted by: GemarSehati
                </div>
              </div>
            </div>
          </div>
          <div class="article-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p>
             Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </section>
    <div class=" footer-style non-bar-footer">
        <div class="title">2016. gemarsehati.com</div>
    </div>
    </ion-content>
</ion-view>