
<ion-view view-title="Articles" align-title="center" class="blue">
    <ion-content class="content-padding background">
	    <a href="#/app/article"class="row articles-link">
		    <div class="col col-33 pdf-icon">
		    	<img src="http://placehold.it/50x50">
		    </div>
	    	<div class="col col-67">
	    		<div class=" articles-judul">Enagic Indonesia Order Process on 13th Jan 2016</div>
	    		<div class="articles-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    		tempor incididunt ut labore et dolore magna aliqua. </div>
	    	</div>
	    </a>
	    <div class="row articles-line">
	    	<div class="flaticon-font2 articles-icon"></div>
	    </div>

	    <a href="#/app/article"class="row articles-link">
		    <div class="col col-33 pdf-icon">
		    	<img src="http://placehold.it/50x50">
		    </div>
	    	<div class="col col-67">
	    		<div class=" articles-judul">Enagic Indonesia Order Process on 13th Jan 2016</div>
	    		<div class="articles-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    		tempor incididunt ut labore et dolore magna aliqua. </div>
	    	</div>
	    </a>
	    <div class="row articles-line">
	    	<div class="flaticon-font2 articles-icon"></div>
	    </div>

	    <a href="#/app/article"class="row articles-link">
		    <div class="col col-33 pdf-icon">
		    	<img src="http://placehold.it/50x50">
		    </div>
	    	<div class="col col-67">
	    		<div class=" articles-judul">Enagic Indonesia Order Process on 13th Jan 2016</div>
	    		<div class="articles-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    		tempor incididunt ut labore et dolore magna aliqua. </div>
	    	</div>
	    </a>
	    <div class="row articles-line">
	    	<div class="flaticon-font2 articles-icon"></div>
	    </div>

	    
		<div class=" footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>