
<ion-view view-title="Articles" align-title="center" class="blue">
    <ion-content class="content-padding background">
    	<div ng-repeat="article in articles">
    		<a href="#/app/articles/{{article.id}}"class="row articles-link list-content" >
			    <div class="col col-33 pdf-icon">
			    	<img ng-src="{{ article.foto }}" image-lazy-loader="android" >
			    </div>
		    	<div class="col col-67">
		    		<div class=" articles-judul">{{article.judul}} </br> on {{article.date}}</div>
		    		<div class="articles-desc">{{article.content | limitTo : 150}}</div>
		    	</div>
	    	</a>
	    	<div class="row articles-line ">
	    	<div class="articles-icon flaticon-font2"></div>
	    	</div>
    	</div>
		<div class=" footer-style non-bar-footer">
  			<div class="title">{{footerText}}</div>
		</div>
    </ion-content>
</ion-view>