
<ion-view view-title="Contact Us">
    <ion-content class="content-padding background">
    <div class="login-title center">
    	<h3>Welcome to</h3>
        <h1>GEMARSEHATI</h1>
        <div class="line-seperator"></div>
        <h5>Indonesian Drinking Healthy Water Campaign</h5>
    </div>
		<div class="list login-content">
		  <label class="item item-input item-floating-label login-form">
		    <span class="input-label input-label-login ">email</span>
		    <input type="text" placeholder="email" class="input-login">
		  </label>
		  <div class="form-row">
		  	<label class="item item-input item-floating-label login-form">
		    	<span class="input-label input-label-login ">name</span>
		    	<input type="text" placeholder="name" class="input-login">
		  	</label>
        	<label class="item item-input item-floating-label login-form">
		    	<span class="input-label input-label-login ">no.Hp (optional)</span>
		    	<input type="text" placeholder="no.Hp (optional)" class="input-login">
		  	</label>	
		  </div>
		
		<label class="item item-input item-floating-label login-form">
		    <span class="input-label input-label-login ">message</span>
		    <input type="text" placeholder="message" class="input-login">
		  </label>
		</div>
		<div class="row">
			<a href="#/app/home" class="button button-outline button-login">
			  	Submit
			</a>
		</div>
		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>