
<ion-view view-title="Gemarsehati" cache-view="false" align-title="center" class="blue">
	<ion-content  class=" background" >
    	<div class="content-padding" >
	    	<div ng-repeat="credit in credits">
		    	<div class="row credit-logo">
		    		<img image-lazy-src="{{credit.logo}}" image-lazy-loader="android">
		    	</div>
			    <div class="credit-content italic-white center">
			    	{{credit.about}}
			    </div>
	    		<div class="line-seperator"></div>
			    <div class="credit-footer flaticon-map25 italic-white">
			    	{{credit.address}}
			    </div>		
			</div>
		</div>
			<div class="bar bar-footer footer-style">
	  			<div class="title">{{footerText}}</div>
			</div>
    </ion-content>
</ion-view>