
<ion-view view-title="Mitra City" align-title="center" class="blue">
    <ion-content class="content-padding background testimoni">
    <div ng-repeat="item in city ">
       <div class="testimoni  list-content" >

        <div class="row flaticon-comment33 testimoni-header">
          {{item.id}} | {{item.nama}}
        </div>
        <div class="line-seperator testimoni-seperator"></div>
      </div>
    </div>
     
    
    <div class="footer-style non-bar-footer">
        <div class="title">2016. gemarsehati.com</div>
    </div>
    </ion-content>
</ion-view>