
<ion-view view-title="Reset Password">
    <ion-content class="content-padding background">
    <div class="login-title center login-content">
    	<h3>Welcome to</h3>
        <h1>GEMARSEHATI</h1>
        <div class="line-seperator"></div>
        <h5>Indonesian Drinking Healthy Water Campaign</h5>
    </div>
		<div class="list login-content">
		  <label class="item item-input item-floating-label login-form">
		    <span class="input-label input-label-login ">email</span>
		    <input type="text" placeholder="Email" class="input-login" ng-model='data.email'>
		  </label>
		</div>
		<div class="row">
			<a  class="button button-outline button-login" ng-click="SendResetPass(data)">
			  	Submit
			</a>
		</div>
		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>