
<ion-view view-title="Home" cache-view="false" align-title="center" class="blue">

    <ion-content scroll="false" class=" background">
    <div class="content-padding">
    	<div class="row">
    		<img ng-src="img/logo.png" id="logo">
    	</div>
    	<div class="login-title center">
	    	<h3>Welcome to</h3>
	        <h1>GEMARSEHATI</h1>
	        <div class="line-seperator"></div>
	        <h5>Indonesian Drinking Healthy Water Campaign</h5>
	    </div>
    </div>
    <div class="row">
	    	<a href="#/app/mitrafinder" class="col col-33 home-icon">
	    		<img ng-src="img/mitra-finder.png" >
	    	</a>
	    	<a href="#/app/login" class="col col-33 home-icon">
	    		<img ng-src="img/sign-in.png">
	    	</a>
	    	<a href="#/app/event"class="col col-33 home-icon">
	    		<img ng-src="img/event.png">
	    	</a>
	    </div>	
	    
			
		<div class="bar bar-footer footer-style">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>