
<ion-view view-title="Login" cache-view="false">
	<ion-content scroll="true" class="content-padding background">
		<div class="login-title center login-content">
			<h3>Welcome to</h3>
			<h1>GEMARSEHATI</h1>
			<div class="line-seperator"></div>
			<h5>Indonesian Drinking Healthy Water Campaign</h5>
		</div>
		<form ng-submit="Login(loginData)">
			<div class="list login-content">
				<label class="item item-input item-floating-label login-form">
					<span class="input-label input-label-login ">email</span>
					<input type="text" placeholder="email" class="input-login" ng-model="loginData.email">
				</label>
				<label class="item item-input item-floating-label login-form">
					<span class="input-label input-label-login ">password</span>
					<input type="text" placeholder="password" class="input-login" ng-model="loginData.password">
				</label>
			</div>
			<div class="row">
				<button class="button button-outiline button-login " type="submit">Sign in</button>
			</div>
			<!-- <div class="row">
				<a class="button button-outline button-login" ng-click="loadData()">Load</a>
			</div> -->
		</form>
		<div class="row no-padding">
			<div class="col col-50 left">
				<a href="#/app/forgot" class="login-link">
					<i class="icon flaticon-vintage27 "></i> Forgot Password?
				</a>
			</div>
			<div class="col col-50 right">
				<a href="#/app/register" class="login-link">
					<i class="icon flaticon-user77 "></i> Register
				</a>
			</div>
		</div>
		<!-- <div class="bar bar-footer footer-style">
			<div class="title">{{footerText}}</div>
		</div> -->
		<div class="row non-bar-footer footer-style ">
            <div class="title">{{footerText}}</div>
        </div>
	</ion-content>
</ion-view>