<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="blue">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

        <a data-tap-disabled="true" class=" button button-icon icon white" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu" >
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Starter</h1>
    </ion-header-bar> -->
    <ion-content class="side-menu-content" scroll="true">
      <ion-list>      
        <ion-item nav-clear menu-close class="no-padding menu-img menu-list item item-thumbnail-left circle-photo">
            <img ng-src="{{odpcount.foto}}" alt="">
            <div class="box">
              <h2>Welcome</h2>
              <h3>user</h3>          
            </div>
        </ion-item>  
        <ion-item nav-clear menu-close href="#/app/home" class=" menu-list">
          Home
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/about " class=" menu-list">
          About
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/technology" class=" menu-list">
          Technology
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/video" class=" menu-list">
          Video
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/photo" class=" menu-list">
          Photo
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/pdf" class=" menu-list">
          PDF
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/articles" class=" menu-list">
          Articles
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/testimoni" class=" menu-list">
          Testimoni
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/mitrafinder" class=" menu-list">
          Find Mitra
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/contactus" class=" menu-list last-menu-list">
          Contact Us
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/push" class=" menu-list last-menu-list">
          Push
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/login"  class="item-icon-right menu-list menu-bottom">
        <!-- <ion-item nav-clear menu-close href="/login" ng-click="logout()" class="item-icon-right menu-list menu-bottom"> -->
        <i class="icon flaticon-vintage27"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
