
<ion-view view-title="Photo" >
    <ion-content ng-controller="PhotoCtrl" class="content-padding background" lazy-scroll>

    <div class="list list-content">
    	<a ng-repeat="photo in photos" href="#">
    		<img href="{{photo.link}}" image-lazy-src="{{ photo.link }}" image-lazy-loader="android" width="100%" ng-click="showImages($index)">
    	</a>
    </div>
    <!-- <ion-content ng-controller="PhotoCtrl" ng-init="loadImages()" class="content-padding background"> -->
	    <!-- <div class="row" ng-repeat="image in images" ng-if="$index % 2 === 0">
	        <div class="col col-50" ng-if="$index < images.length">
	            <img ng-src="{{images[$index].src}}" width="100%" />
	        </div>
	        <div class="col col-50" ng-if="$index + 1 < images.length">
	            <img ng-src="{{images[$index + 1].src}}" width="100%" />
	        </div>
	    </div> -->

	    <!-- <div class="row" ng-repeat="category in data">
		    <div ng-repeat="image in category" id="container" class="col col-33">
		        <img class="image image-list-thumb" id="image" ng-src="{{image.image}}" />
		    </div>
		</div> -->
		<!-- <div id="masonry">
			<div  class="row" ng-repeat="row in photos | inSlicesOf:2"> 
	          <div class="col col-50 photo-item " ng-repeat="photo in row">
	            <img ng-src="{{photo.link}} " class="photo-img" width="100%" height="100%">
	            <hr/>
	          </div>
	        </div>
		</div> -->
		
		<!-- <div id="masonry">
			<div  ng-repeat="photo in photos "> 
	            <img ng-src="{{photo.link}} " class="photo-img" width="100%" height="100%">
	        </div>
		</div> -->

		<!-- <div class="pad-sides" masonry="{columnWidth: 50, gutter: 10, transitionDuration: '.9s', hiddenStyle: {opacity: .001, transform: 'scale(0.01)', transform: 'rotate(200deg)'}, visibleStyle: {opacity: 1, transform: 'rotate(200deg)'}}">
		     <div class="masonry-brick " ng-repeat="singer in singers"> 
		    <div class="masonry-brick " ng-repeat="photo in photos">
		       <img ng-src="{{ photo.link }}"  class="photo-img"width="100%">
		    </div>
		</div> -->

		<!-- <div class="pad-sides" masonry="{columnWidth: 100, gutter: 5, transitionDuration: '.9s', hiddenStyle: {opacity: .001, transform: 'scale(0.01)', transform: 'rotate(200deg)'}, visibleStyle: {opacity: 1, transform: 'rotate(200deg)'}}">
		    <div class="masonry-brick" ng-repeat="photo in photos">
		       <img ng-src="{{ photo.link }}" alt="a singer" class="photo-img">
		    </div>
		</div> -->



		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>