
<ion-view view-title="Product Level Uk" align-title="center" class="blue">
    <ion-content class="content-padding background">
    	<div ng-repeat="product in products">
    		<a href="#/app/product/{{product.id}}"class="row articles-link list-content" >
			    <div class="col col-33 pdf-icon">
			    	<img image-lazy-src="{{ product.foto }}" image-lazy-loader="android" >
			    </div>
		    	<div class="col col-67">
		    		<div class=" articles-judul">{{product.nama}}</div>
		    		<div class="articles-desc">{{product.deskripsi | limitTo : 150}}</div>
		    	</div>
	    	</a>
	    	<div class="row articles-line ">
	    	<div class="articles-icon flaticon-font2"></div>
	    	</div>
	    
    	</div>
	    
		<div class=" footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>