<!-- 
<ion-view view-title="push" align-title="center" class="blue">
    <ion-content scroll="false" class=" background">
        <button class="button button-block button-dark" ng-click="identifyUser()">
            Identify User
        </button>
        <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
            Register for push
        </button>
        <div class="bar bar-footer footer-style">
              <div class="title">2016. gemarsehati.com</div>
        </div>
    </ion-content>
</ion-view> -->