<ion-view view-title="Register" cache-view="false">
    <ion-content class="content-padding background">
    <div class="login-title center">
    	<h3>Welcome to</h3>
        <h1>GEMARSEHATI</h1>
        <div class="line-seperator"></div>
        <h5>Indonesian Drinking Healthy Water Campaign</h5>
    </div>
		<div class="list login-content">
		  <label class="item item-input item-floating-label login-form">
		    <span class="input-label input-label-login ">email</span>
		    <input type="text" placeholder="email" class="input-login">
		  </label>
		  	<label class="item item-input item-floating-label login-form">
		    	<span class="input-label input-label-login ">Full Name</span>
		    	<input type="text" placeholder="Full Name" class="input-login">
		  	</label>
        	<label class="item item-input item-floating-label login-form">
		    	<span class="input-label input-label-login ">Address</span>
		    	<input type="text" placeholder="Address" class="input-login">
		  	</label>	
			  <label class="item item-input item-select">
			    <div class="input-label">
			        &nbsp;
			    </div>
			    <select class="dropdown">
			        <option selected>City</option>
			        <option >Surabaya</option>
			        <option>Sidoarjo</option>
			    </select>
			</label>
		  <label class="item item-input item-floating-label login-form">
		   	 <span class="input-label input-label-login ">No. HP</span>
		   	 <input type="text" placeholder="No. HP" class="input-login">
		  </label>
		</div>
		<div class="row">
			<a href="#/app/home" class="button button-outline button-login">
			  	Submit
			</a>
		</div>
		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>