<ion-view view-title="Social Media" cache-view="false" align-title="center" class="blue">
    <ion-content scroll="false" class="content-padding background">
    	<div class="row">
			<a class="col col-33 col-offset-33 social-icon" href="#" 
			onclick="window.open('https://www.facebook.com/gemarsehati', '_blank', 'location=yes'); return false;">
				<img ng-src="img/fb.png">
			</a>
    	</div>
		<div class="row">
			<a class="col col-33 col-offset-33 social-icon" href="#" 
			onclick="window.open('https://twitter.com/Gemarsehatiteam', '_blank', 'location=yes'); return false;">
				<img ng-src="img/twitter.png">
			</a>
    	</div>
    	<div class="row">
			<a class="col col-33 col-offset-33 social-icon" href="#" 
			onclick="window.open('http://www.youtube.com/', '_blank', 'location=yes'); return false;">
				<img ng-src="img/youtube.png">
			</a>
    	</div>
    	<button (click)="launch('https://twitter.com/Gemarsehatiteam')">Twitter</button>
		<div class="bar bar-footer footer-style">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>