
<ion-view view-title="Testimoni" align-title="center" class="blue">
    <ion-content class="content-padding background testimoni">
	    <div class="testimoni  list-content" ng-repeat="testimoni in testimonis">
	    	<div class="row flaticon-comment33 testimoni-header">
		    	{{testimoni.nama_user}} | {{testimoni.lokasi}}
		    </div>
		    <div class="row testimoni-content">
		    	{{testimoni.content}}
		    </div>
		    <div class="line-seperator testimoni-seperator"></div>
	    </div>
		
		<div class="footer-style non-bar-footer">
  			<div class="title">2016. gemarsehati.com</div>
		</div>
    </ion-content>
</ion-view>