<ion-view view-title="Video" align-title="center" class="blue">
    <ion-content class=" background">
        <ion-list>
            <ion-item class="item-content video-item"ng-repeat='video in videos'>
                <div class="row">
                    <div class="video-judul">
                        {{video.judul}}
                    </div>
                </div>
                <div class="row">
                    <div class="video-tanggal flaticon-calendar52">
                        {{video.date}}
                    </div>
                </div>
                <div class="video-container">
                    <iframe width="385" height="217" src="{{video.link | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="line-padding">
                    <div class="line-seperator"></div>    
                </div>
            </ion-item>
        </ion-list>
        <div class=" footer-style non-bar-footer">
            <div class="title">{{footerText}}</div>
        </div>
    </ion-content>
</ion-view>
