<ion-view view-title="Video" align-title="center" class="blue">
    <ion-content class=" background">
    <div class="row padding-left-right">
        <div class="col col-50 video-button">
            <a href="#" class="button button-outline button-video">
                Latest
            </a>
        </div>
        <div class="col col-50">
            <a href="#" class="button button-outline button-video ">
                Popular
            </a>
        </div>
    </div>
        <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
        <ion-list>
            <ion-item class="item-content video-item"ng-repeat='video in videos'>
                <div class="row">
                    <div class="video-judul">
                        {{video.judul}}
                    </div>
                </div>
                <div class="row">
                    <div class="video-tanggal flaticon-calendar52">
                        {{video.tanggal}}
                    </div>
                </div>
                <div class="video-container">
                    <!-- <object width="100%" height="150">
                        <param name="movie" value="{{trustSrc(video.link)}}"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <param name="allowscriptaccess" value="always"></param>
                        <embed src="{{video.link | trustAsResourceUrl}}" type="application/x-shockwave-flash" width="100%" height="150" allowscriptaccess="always" allowfullscreen="true"></embed>
                    </object> -->
                    <iframe width="385" height="217" src="{{video.link | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="line-padding">
                    <div class="line-seperator"></div>    
                </div>
            </ion-item>
        </ion-list>
    <div class=" footer-style non-bar-footer">
               <div class="title">{{footerText}}</div>
            </div>
    </ion-content>
</ion-view>
