<ion-view view-title="Video" align-title="center" class="blue">
    <ion-content class=" background">
    <div class="row content-left-right">
        <div class="col col-50">
            <a href="#" class="button button-outline button-login">
                Latest
            </a>
        </div>
        <div class="col col-50">
            <a href="#" class="button button-outline button-login ">
                Popular
            </a>
        </div>
    </div>
        <ion-list>
            <div class="row">
                <div class="video-judul">
                    Judul Video
                </div>
            </div>
            <div class="row">
                <div class="video-tanggal flaticon-calendar52">
                    Tanggal Video
                </div>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="line-padding">
                <div class="line-seperator"></div>    
            </div>
            <div class="row">
                <div class="video-judul">
                    Judul Video
                </div>
            </div>
            <div class="row">
                <div class="video-tanggal flaticon-calendar52">
                    Tanggal Video
                </div>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="line-padding">
                <div class="line-seperator"></div>    
            </div>
            <div class="row">
                <div class="video-judul">
                    Judul Video
                </div>
            </div>
            <div class="row">
                <div class="video-tanggal flaticon-calendar52">
                    Tanggal Video
                </div>
            </div>
            <div class="video-container">
                <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="line-padding">
                <div class="line-seperator"></div>    
            </div>

            <div class=" footer-style non-bar-footer">
            <div class="title">2016. gemarsehati.com</div>
        </div>
    </ion-list>
    </ion-content>
</ion-view>
