/* Empty. Add your own CSS if you like */
/**
 *
 * Created by : Ikrom Aulia Fahdi;
 * ikromaf
 *
 */

/*==================================
=            Font style            =
==================================*/

@font-face{
	font-family: "Roboto-Regular";
	src: url("../fonts/RobotoCondensed-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Roboto-LightItalic";
	src: url("../fonts/RobotoCondensed-LightItalic.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Roboto-Bold";
	src: url("../fonts/RobotoCondensed-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}
/*=====  End of Font style  ======*/

/*=====================================
=            General Style            =
=====================================*/
.list.list-content, .list-content{
	padding-top: 30px;
}
.item.item-content{
	background: transparent;
	border: 0;
}

a.non-decor{
	text-decoration: none;
}

.italic-white{
	font-family: 'Roboto-LightItalic';
	color: white;
	font-size: 14px;
}

/*=====  End of General Style  ======*/


/*====================================
=            Header Style            =
====================================*/
ion-header-bar, ion-header-bar.blue{
	background: #28166f;
	text-align: center;
	border:0;
	color: white;
}
.white, .right-buttons a{
	color: white;
}
/*======  End of header Style =======*/

/*====================================
=            Footer Style            =
====================================*/

.bar.bar-footer.footer-style{
	color: #fafafa;
	background: transparent;
}
.bar.bar-footer.footer-style .title{
	font-size: 14px;
	margin-bottom: 0;
	font-family: "Roboto-Regular";
}
.bar.bar-footer.footer-style .title:before{
	content:"\00a9";
}
.non-bar-footer{
	text-align: center;
	font-size: 14px;
	font-family: "Roboto-Regular";
	color: #fafafa;
	height: 44px;
	line-height: 44px;
}

/*=====  End of Footer Style  ======*/




.white a.white{
	color: #fff;
}
.white a.white:hover{
	color: #fafafa;
}
.bar .title.title-left{
	text-align: center;
	left: 45px;
	right: 45px;
}
.background{
	background: url('../img/background.png');
}
.right{
	right: 0;
	text-align: right;
}
.left{
	left: 0;
	text-align: left;
}
.center{
	text-align: center;
}
.italic{
	font-style: italic;
}
.content-padding{
	padding: 30px;
}
.padding-left-right{
	padding-left: 30px;
	padding-right: 30px;
}
.no-padding, .row.no-padding{
	padding: 0;
}
.line-seperator{
	height:1px;
	background:#fafafa;
	border-bottom:1px solid #fafafa;
}
.line-padding{
	padding: 15px 30px;
}
input[type="text"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #fff;
}
input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	opacity:  1;
}
input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	opacity:  1;
}
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #fff;
}
input[type="text"]:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	color:    #fff;
}
/*===================================
=            Login Style            =
===================================*/

.login-title h3, .login-title h1, .login-title h5 {
	text-align: center;
	color: #fafafa;
	margin: 0;
}
.login-title h3{
	font-family: "Roboto-LightItalic";
	color: #fafafa;
}
.login-title h1{
	font-family: "Roboto-Bold";
}
.login-title h5{
	font-family: "Roboto-LightItalic";
	margin-top: 5px;
}
.login-content{
	margin-top: 30px;
}
.item.login-form{
	border:none;
	border-bottom: 1px solid #fafafa;
	padding: 6px 0px 5px;
	color: #fafafa;
}
.input-label.input-label-login {
	display: table;
	width: 100%;
	max-width: 100%;
	padding: 7px 10px 7px 0px;
	color: #fafafa;
	font-size: 16px; 
	text-align: center;
	font-family: "Roboto-LightItalic";
}
.item-input input.input-login{
	text-align: center;
	padding-right: 0;
	color: #fafafa;
	font-size: 16px;
	font-family: "Roboto-LightItalic";
}
.row a.button-login{
	min-width: 150px;
	margin: 20px auto 10px;
	border-color: #fafafa;
	color: #fafafa;
	margin-bottom: 30px;
}
.row button.button-login {
    min-width: 150px;
    margin: 20px auto 30px;
    border-color: #FAFAFA;
    color: #FAFAFA;
    background: transparent;
}
.login-link{
	text-decoration: none;
	font-size: 14px;
	color: #fafafa;
	font-family: "Roboto-Regular";
}


/*=====  End of Login Style  ======*/


/* side menu */

.item.item-menu{
	background: transparent;
}
.side-menu{
	background: #f2f1f7;
}
.side-menu-content{
	z-index: 100;
}
.side-menu{
	background-color: #f2f1f7; 
}
.menu-list, .menu-list .item-content{
	background-color: #f2f1f7;  
	color: #28166f;
	padding-top: 6px;
	padding-bottom: 6px;

}
.menu-list{
	border: 0.01px thick #28166f;
}
.item.last-menu-list{
	padding-bottom:25px; 
	border-bottom: 1px solid blue;
}
.menu-list .item-content .badge{
	top:6px;
	font-size: 12px;
}
.menu-img{
	height: 125px;  
}
.circle-photo img{
	border-radius: 50%;
	border: 4px solid #28166f;
	/*box-shadow: 0 0 0 3px  #fff;*/
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.box{
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 25px;
}
.box a{
	text-decoration: none;
	color: #28166f;
}
.box h2{
	margin: auto;
}
.menu-img h2 +.menu-img h3{
	float: left;
}
.menu-img h2, .menu-img h3{
	color: #28166f;
}
.menu-img h2{
	margin-top: 25px;
	margin-left: 0px;
}
.item.menu-bottom{
	padding-top: 25px;
	margin-bottom: 20px;
	border-top: solid 1px #28166f;
	border-bottom: 0;
}

/*home*/
#logo{
	margin: 0 auto 10px;
	height: 80%;
}
.home-icon{
	margin-top: 50px;
}
.home-icon img{
	width: 100%;
}

/*social media*/
.social-icon img{
	width: 120%;
}
.social-icon:first-child{
	margin-top: 20px;
}

/*pdf files*/
.pdf-download{
}
.pdf-icon img{
	width: 100%;
}
.pdf-judul, .pdf-info{
	width: 100%;
}
.pdf-judul, .pdf-info, .download-text{
	color: #fafafa;
	text-align: left;
	font-size: 14px;
	margin-left: 10px;
}
.pdf-judul{
	font-family: "Roboto-Regular";
}
.pdf-info{
	font-family: "Roboto-LightItalic";
	margin-bottom: 10px;
}
.download-text{
	font-family: "Roboto-LightItalic";
	line-height: 32px;
	height: 32px;
}

/*videos*/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-judul, .video-tanggal{
	color: white;
	text-align: center;
	margin: 2.5px auto;
	font-size: 16px;
	width: 100%;
}
.video-judul{
	font-family: "Roboto-Regular";
}
.video-tanggal{
	font-family: "Roboto-LightItalic";
}
.item.video-item{
	padding: 0;
}
.col a.button-video{
	min-width: 150px;
	margin: 20px 10px 30px 10px;
	border-color: #fafafa;
	color: #fafafa;
}
.col.video-button{
	padding-left: auto;
	padding-right: auto;
}
/*contact us*/
.form-row{
}
.item-select {
	width: 100%; /* Or whatever you'd like the width to be */
}
label.item.item-input.item-select{
	background: transparent;
	margin-top: 27.85px;
	border: 0;
	border-bottom:1px solid #fafafa;
}
label .input-label, label.dropdown{
	background: transparent;
}
.item-select select {
	left: 0;
	width: 100%;
	text-align: center;
	padding-left: 48px;
	color: #fafafa;
	background: transparent;
}
select.dropdown{
	width: 100%;
	max-width: 100%;
}
.item-select .input-label{
	width: 100%;
	max-width: 100%;
	text-align: center;
}
.dropdown option{
	padding: 10px 1px;
	background: #000;
}
.dropdown option:hover{
	background: #fff;
}

/*testimoni*/
.testimoni{
	left: -25px;
}
.testimoni-header, .testimoni-content{
	color: #fafafa;
	text-align: left;
}
.testimoni-header{
	font-family: "Roboto-Regular";
}
.testimoni-content{
	font-family: "Roboto-LightItalic";
	margin-left: 29.56667px;
	width: 100%;
	max-width: 293.43333px; 
}
.testimoni-seperator{
	margin: 10px 0 10px 25px;

}

/*articles*/
.articles-judul{
	font-family: "Roboto-Regular";
	color: #fafafa;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}
.articles-desc{
	font-family: "Roboto-LightItalic";
	color: #fafafa;
	text-align: left;
}
.row + .row.articles-line{
	color: white;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
	padding: 0;
	height: 20px;
}
.articles-icon{
	margin-left: -5px;
	margin-top: 2px;
}
.articles-link{
	text-decoration: none;
	min-height: 150px;
}

/*article*/
.article-img{
	width: 100%;
	height: 237px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.centerImage{
	text-align:center;
	display:table-cell;
	vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.centerImage *{
	vertical-align: middle;
}
.article-header{
	color: white;
	text-align: left;
	margin-top: -20px;
	border-bottom: 1px solid #fafafa;
}
.article-judul{
	font-family: "Roboto-Regular";
	margin-bottom: 5px;
}
.article-posted{
	font-family: "Roboto-LightItalic";
}
.article-desc{
	text-align: left;
	color: white;
	padding: 10px;
}
.home-container {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	height: 100%;
}
.home-container > .row {
	-webkit-flex: 1;
}
.header {
	-webkit-flex: 1.5 !important;
	-webkit-align-items: center;
	background-color: #1abc9c;
}

.icon-row {
	-webkit-align-items: center;
}

/*event*/
.event-judul{
	font-family: "Roboto-Regular";
	color: #fafafa;
	font-size: 14px;
	text-align: left;
	margin-bottom: 5px;
	padding-left: 20px;
}
.event-desc{
	font-family: "Roboto-LightItalic";
	color: #fafafa;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 5px;
}
.event-icon{
	margin-left: -5px;
}

/*===================================
=            Photo Style            =
===================================*/
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.popover-background {
    background: #000;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
    background: #000;
}

.image {
    width: 100%;
    height: 600px;
    background: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

/*=====  End of Photo Style  ======*/

/*==================================
=            Maps Style            =
==================================*/

.scroll{height:100%}
#map{width:100%;height:55%}

.mitra-nama{
	font-family: "Roboto-Regular";
	color: white;
}
.mitra-url, .mitra-contact{
	font-family: "Roboto-LightItalic";
	color: white;
}
.mitra-icon{
	padding-left: 20px;
	height: 100%;
}
.mitra-foto img{
	width: 100%;
	height: 100%;
}
.item-mitra{
	margin: 10px 0;
}
/*=====  End of Maps Style  ======*/

/*===================================
=            Event Style            =
===================================*/

.wrapp {
  width: 100%;
  height: 60%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*=====  End of Event Style  ======*/

/*======================================
=            Register Style            =
======================================*/

.item-select select.dropdown{
	width: 100%;
	background: transparent;
	color: #fafafa;
	max-width: 100%;
	padding: 0 16px;
	font-family: 'Roboto-LightItalic';
	font-size: 16px;
}

.form-content{
	margin-top: 0px;
}

.form-note{
	color: #fafafa;
	margin-top: 30px;
}

/*=====  End of Register Style  ======*/

/*====================================
=            Profil Style            =
====================================*/

.row .profil-img{
	margin: 0 auto;
}
.row .profil-img img{
	margin: 20px 0;
	border-radius: 50%;
	width: 128px;
	height: 128px;
}
.profil-header{
	color: white;
	margin: auto;
	text-align: center;
}
.profil-name, .profil-id{
	font-family: 'Roboto-Regular';
	font-size: 16px;
}
.profil-url{
	font-family: 'Roboto-LightItalic';
	font-family: 14px;
}

.profil-icon{
	padding-left: 40px;
	height: 100%;
}
/*=====  End of Profil Style  ======*/
